#logo {
    width: 100px; 
    height: 50px; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

@media only screen and (max-width: 576px) {
    #logo {
        background-image: url('./img/nuevos/logomovil.jpg');
        width: 50px; 
        height: 25px; 
    }
}

@media only screen and (min-width: 577px) {
    #logo {
        background-image: url('./img/nuevos/logopc.jpg');
        width: 100px; 
        height: 50px; 
    }
}
body{
    background-color: #A89561;
}

#dest{
    align-content: center;
    margin-bottom: 25px;
}

#marco{
    margin-top: 50px;
    border: 2px solid #65743A;
}

#buton{
    margin-bottom: 10px;
}


.card-body , .tittle{
    background-color: #524632;
    margin-left: 60px;
    margin-right: 60px;
}
.tittle{
    margin-top: 20px;
    padding: 15px; 
    border-radius: 10px
}
.cards-body{
    background-color: #524632;
}

h5{
    color:#6a8d73;
}
p{
    color:#65743A;
}

.card-text, .card-tittle{
    text-align: center;
}


#butn{
    margin-bottom: 20px;
}
#a{
    width: 200px;
}

#parrafo{
    color: black;
}

h2{
    margin-top: 30px;
    margin-bottom: 30px;
}
#carouselExampleIndicators{
    margin-bottom: 35px;
}
.idd1{
    
margin: 20px;
  
}
.idd2{
    
    margin: 20px;
    
  }
#asd{
    margin-bottom: 60px;
    margin-left: 40px;
    margin-top:10px;
    width: 30%;
height: 40%;

}
#mes{
    margin-bottom: 30px;
}

footer{
    margin-top: 30px;
}

