#logo {
    width: 100px;
    height: 50px;
    background-image: url('../img/nuevos/logopc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background-color: #b7a580;
    font-family: Arial, sans-serif;
}

#imgCate {
    align-content: center;
    margin-bottom: 25px;
    transition: transform 0.3s ease;
}

#marco {
    margin-top: 50px;
    border: 2px solid #6A5D42;
}

#buton {
    margin-bottom: 10px;
}


.card-body,
.tittle {
    background-color: #524632;
    margin-left: 60px;
    margin-right: 60px;
}

.title {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px
}

.cards-body {
    background-color: #524632;
}

h5 {
    color: #6a8d73;
}

p {
    color: #65743A;
}

.card-text,
.card-title {
    margin-top: 5px;
    text-align: center;
}


#butn {
    margin-bottom: 20px;
}

#a {
    width: 200px;
}

#parrafo {
    color: black;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#carouselExampleIndicators {
    margin-bottom: 35px;
}

.img1 {

    margin: 20px;

}

.img2 {

    margin: 20px;

}

#buttonComprar {
    margin-bottom: 60px;
    margin-top: 10px;
    width: 30%;
    height: 40%;
    background-color: #6A5D42;
    border: none;
}

#mes {
    margin-top: 10px;
    margin-bottom: 20px;
}

footer *{
    margin-top: 30px;
    background-color: #F5E5C0;
    color: #6A5D42;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración del contenedor principal */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenido {
    flex: 1;
    ;
}

#foot {
    text-align: center;
    padding: 10px 0;
}

#buton {
    margin-top: 34px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#aff {
    color: #524632 !important;
    margin-top: 30px;
}

#classy {
    border: 2px solid #65743A !important;
    padding: 15px;
    border-radius: 5px;
}

.navbar {
    background-color: #F5E5C0;
    color: #6A5D42;
    padding: 1.5rem;
    text-align: center;
}

#logo {
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('zapatillas/logoEscritorio.png');
    height: 57px;
}

.navbar-nav .nav-link {
    color: #6A5D42;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #DA667B;
}

.navbar-nav .dropdown-menu {
    background-color: #6A5D42;
    border: none;
    color: #DA667B;
}

.btn-outline-success {
    background-color: #BA505F;
    border-color: #BA505F;
    color: #FFF;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.iconoCompra {
    margin-right: 70px;
}

.tarjeta-producto {
    border: 1px solid #A89561;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    background-color: #FFF8F1;
    transition: transform 0.2s;
}

.tarjeta-producto:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.tarjeta-producto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.tarjeta-producto h3 {
    font-size: 1.2em;
    color: #524632;
}

.precio-antiguo {
    text-decoration: line-through;
    color: #A89561;
}

.precio-nuevo {
    color: #DA667B;
    font-size: 1.5em;
    font-weight: bold;
}

.tarjeta-categoria {
    border: 1px solid #A89561;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    background-color: #FFF8F1;
    max-width: 70%;
}

.tarjeta-categoria img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.tarjeta-categoria h3 {
    font-size: 1.2em;
    color: #524632;
}

.tarjetasCategoria{
    margin-left: 5%;
}